<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<% if (locals.usuarioLogueado != undefined) { %>
		<%- include("./partials/headerLogueado.ejs") %>
<% } else { %>
		<%- include('./partials/headerNoLogueado.ejs') %>
<% } %>

	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
	
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 0; i < 4; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detalleProducto/<%= productos[i].id %>">
							<figure class="product-box_image">
								<img class="foto-producto" src="<%=productos[i].imagen%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%=productos[i].nombre_producto%></h2>
								<p><%=productos[i].descripcion_producto%></p>
								<a href="/users/profile/id/<%=productos[i].productoUsuarios.id %>"><p>Usuario: <%= productos[i].productoUsuarios.usuario %></p></a>

							</article>
						</a>
					</section>
				</div>
			<% } %>
			
		</div>
	</div>

	
	<!-- NUEVOOOOO -->


	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 5; i < 9; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detalleProducto/<%= productos[i].id %>">
							<figure class="product-box_image">
								<img class="foto-producto" src="<%=productos[i].imagen%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%=productos[i].nombre_producto%></h2>
								<p><%=productos[i].descripcion_producto%></p>
								<a href="/users/profile/id/<%=productos[i].productoUsuarios.id %>"><p>Usuario: <%= productos[i].productoUsuarios.usuario %></p></a>

							</article>
						</a>
					</section>
				</div>
			<% } %>
			
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>	
</html>