<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<% if (locals.usuarioLogueado != undefined) { %>
	<%- include("./partials/headerLogueado.ejs") %>
<% } else { %>
	<%- include('./partials/headerNoLogueado.ejs') %>
<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src=<%= usuario.foto_perfil %> alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= usuario.usuario %>
						<!-- href cambiar-->
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<% if (locals.usuarioLogueado != undefined) { %>
						<a class="btn mt-3 ml-4" href="/users/editarPerfil" >EDITAR</a>
					<% } else { %>
						
					<% } %>
				
				</div>
				<div>
					<ul class="">
						<li> Email: <%= usuario.email %></li>
						<li><%= productos.length %> productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show mis productos -->
			<% if (productos.length !=0 ) { %>
				<% for( let i = 0; i < productos.length; i++ ) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/detalleProducto/<%= productos[i].id %>"><!-- href cambiar-->
								<figure class="product-box_image">
									<img  class="foto-producto" src=<%= productos[i].imagen %> alt=<%= productos[i].nombre_producto%>>
								</figure>
								<article class="product-box_data">
									<h2><%= productos[i].nombre_producto %></h2>
									<p><%= productos[i].descripcion_producto %></p>
									
								</article>
							</a>
						</section>
					</div>
				<% } %>
			 
			<% } else {%>
				<p class="product-detail-description"> No hay productos cargados</p>

				<% } %>

			
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>	
</html>